<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <meta charset="utf-8">
    <title>Ejercicio frases</title>
  </head>
  <body>
    <nav>
      <div class="logo-container">
      <img src="images/cat.svg" class="cat">
      <div class="divider"></div>
      <img src="images/logo.svg" class="logo">
      <div>
    </nav>
  <div class="wrapper">
    <!--h1>{{title}}</h>
    <p>Welcome to {{title}}</p>
    <p> Past quotes </p-->
      {{#each images}}
        <div class="img-wrapper">
          <div class="image-container">
            <img class="item" src="{{this.url}}">
          </div>
          <div class="likes-wrapper">
            <span>{{this.titulo}}</span>
            <div class="heart">
              <span class="like-number" data-awesome="{{this.id}}">{{this.likes}}</span>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    <script
src="https://code.jquery.com/jquery-3.3.1.min.js"
crossorigin="anonymous"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
  </body>
</html>
